In [1]:
!pip install --upgrade pandas

Requirement already up-to-date: pandas in /home/sanil/.local/lib/python3.8/site-packages (1.4.2)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.8.1 in /home/sanil/.local/lib/python3.8/site-packages (from pandas) (2.8.2)
Requirement already satisfied, skipping upgrade: pytz>=2020.1 in /home/sanil/.local/lib/python3.8/site-packages (from pandas) (2022.1)
Requirement already satisfied, skipping upgrade: numpy>=1.18.5; platform_machine != "aarch64" and platform_machine != "arm64" and python_version < "3.10" in /home/sanil/.local/lib/python3.8/site-packages (from pandas) (1.21.4)
Requirement already satisfied, skipping upgrade: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.1->pandas) (1.14.0)

In [2]:
import pandas as pd

In [3]:
pd.__version__

'1.4.2'

In [4]:
!ls

badges.csv		     post_history.csv	 Tags.xml
Badges.xml		     PostHistory.xml	 users.csv
caching.ipynb		     post_links.csv	 Users.xml
comments.csv		     PostLinks.xml	 views_for_performance.ipynb
Comments.xml		     posts.csv		 votes.csv
connection_pooling.ipynb     Posts.xml		 Votes.xml
indexing.ipynb		     process_data.ipynb
optimized_sql_queries.ipynb  tags.csv

# Reading the XML files

In [6]:
# tags = pd.read_xml('Tags.xml')
# badges = pd.read_xml('Badges.xml')
# post_history = pd.read_xml('PostHistory.xml', parser = 'etree')
# votes = pd.read_xml('Votes.xml')
# comments = pd.read_xml('Comments.xml', parser = 'etree')
# post_links = pd.read_xml('PostLinks.xml')
# users = pd.read_xml('Users.xml')
posts = pd.read_xml('Posts.xml', parser = 'etree')

In [7]:
tags_output_file = open('tags.csv', 'w+')
badges_output_file = open('badges.csv', 'w+')
post_history_file = open('post_history.csv', 'w+')
posts_file = open('posts.csv', 'w+')
votes_file = open('votes.csv', 'w+')
comments_file = open('comments.csv', 'w+')
post_links_file = open('post_links.csv', 'w+')
users_file = open('users.csv', 'w+')

# Transformations

In [8]:
# tags['WikiPostId'] = tags['WikiPostId'].fillna(0)
# tags['ExcerptPostId'] = tags['ExcerptPostId'].fillna(0)
# tags = tags.astype({"WikiPostId": int, "ExcerptPostId": int})

posts['AcceptedAnswerId'] = posts['AcceptedAnswerId'].fillna(0)
posts['ViewCount'] = posts['ViewCount'].fillna(0)
posts['LastEditorUserId'] = posts['LastEditorUserId'].fillna(0)
posts['OwnerUserId'] = posts['OwnerUserId'].fillna(0)
posts['AcceptedAnswerId'] = posts['AcceptedAnswerId'].fillna(0)
posts['OwnerDisplayName'] = posts['OwnerDisplayName'].fillna("No Owner")
posts['CommunityOwnedDate'] = posts['CommunityOwnedDate'].fillna("")
posts['Body'] = "No body"
to_drop = []
for index, row in posts.iterrows():
    if row['Title'] is not None and ('\'' in row['Title'] or '"' in row['Title']):
        to_drop.append(row.name)
posts = posts.drop(to_drop)

posts = posts.astype({"AcceptedAnswerId": int, "ViewCount": int, "LastEditorUserId": int, "OwnerUserId": int, "AcceptedAnswerId": int})

# posts = pd.concat([posts] * 10)

# Storing data

In [9]:
# tags_output_file.write(tags.to_csv(index = False))
# badges_output_file.write(badges.to_csv(index = False))
# post_history_file.write(post_history.to_csv(index = False))
# votes_file.write(votes.to_csv(index = False))
# comments_file.write(comments.to_csv(index = False))
# post_links_file.write(post_links.to_csv(index = False))
# users_file.write(users.to_csv(index = False))
posts_file.write(posts.to_csv(index = False, columns = ['PostTypeId', 'AcceptedAnswerId', 'CreationDate', 'Score',
       'ViewCount', 'Body', 'OwnerDisplayName', 'LastEditorUserId',
       'LastEditDate', 'LastActivityDate', 'Title', 'Tags', 'AnswerCount',
       'CommentCount', 'FavoriteCount', 'ContentLicense', 'OwnerUserId',
       'ClosedDate', 'ParentId', 'LastEditorDisplayName',
       'CommunityOwnedDate']))

# tags_output_file.close()
# badges_output_file.close()
# post_history_file.close()
# votes_file.close()
# comments_file.close()
# post_links_file.close()
# users_file.close()
posts_file.close()

In [10]:
posts.iloc[0].keys()

Index(['Id', 'PostTypeId', 'AcceptedAnswerId', 'CreationDate', 'Score',
       'ViewCount', 'Body', 'OwnerUserId', 'LastEditorUserId', 'LastEditDate',
       'LastActivityDate', 'Title', 'Tags', 'AnswerCount', 'CommentCount',
       'FavoriteCount', 'ClosedDate', 'CommunityOwnedDate', 'ContentLicense',
       'ParentId', 'OwnerDisplayName', 'LastEditorDisplayName'],
      dtype='object')

In [11]:
posts

,Id,PostTypeId,AcceptedAnswerId,CreationDate,Score,ViewCount,Body,OwnerUserId,LastEditorUserId,LastEditDate,...,Tags,AnswerCount,CommentCount,FavoriteCount,ClosedDate,CommunityOwnedDate,ContentLicense,ParentId,OwnerDisplayName,LastEditorDisplayName
1,3,2,0,2010-09-01T19:36:50.053,29,0,No body,11,11,2010-09-01T20:41:14.273,...,None,NaN,17,NaN,None,2011-01-31T09:04:54.130,CC BY-SA 2.5,1.0,No Owner,None
2,4,1,26,2010-09-01T19:37:39.957,66,9695,No body,0,0,2010-09-01T19:45:26.117,...,<business><project-management><development-pro...,12.0,2,34.0,None,,CC BY-SA 2.5,NaN,user8,user8
3,7,2,0,2010-09-01T19:42:16.797,10,0,No body,21,0,None,...,None,NaN,0,NaN,None,2011-01-31T09:04:54.130,CC BY-SA 2.5,1.0,No Owner,None
4,9,1,0,2010-09-01T19:43:04.957,39,13487,No body,17,666,2010-09-11T09:35:35.957,...,<productivity><time-management>,24.0,1,26.0,2012-11-13T19:09:35.853,2011-01-04T21:22:43.957,CC BY-SA 2.5,NaN,No Owner,None
5,12,2,0,2010-09-01T19:44:47.413,12,0,No body,21,0,None,...,None,NaN,1,NaN,None,,CC BY-SA 2.5,4.0,No Owner,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235074,437161,2,0,2022-03-05T15:10:42.723,1,0,No body,209665,0,None,...,None,NaN,1,NaN,None,,CC BY-SA 4.0,437147.0,No Owner,None
235075,437162,1,0,2022-03-05T19:39:39.547,-4,45,No body,411694,411694,2022-03-05T19:44:42.027,...,<testing><development-process><software><test-...,2.0,1,NaN,2022-03-05T21:35:32.307,,CC BY-SA 4.0,NaN,No Owner,None
235076,437163,2,0,2022-03-05T20:36:17.840,1,0,No body,410625,0,None,...,None,NaN,2,NaN,None,,CC BY-SA 4.0,437162.0,No Owner,None
235077,437165,2,0,2022-03-05T20:40:54.983,0,0,No body,209665,0,None,...,None,NaN,2,NaN,None,,CC BY-SA 4.0,437162.0,No Owner,None
235078,437166,2,0,2022-03-05T20:49:17.333,0,0,No body,410625,0,None,...,None,NaN,0,NaN,None,,CC BY-SA 4.0,349169.0,No Owner,None

# Running SQL

In [25]:
!pip install ipython-sql
!pip install pgspecial

Requirement already satisfied: ipython-sql in /home/sanil/.local/lib/python3.8/site-packages (0.4.0)
Requirement already satisfied: prettytable<1 in /home/sanil/.local/lib/python3.8/site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: ipython>=1.0 in /home/sanil/.local/lib/python3.8/site-packages (from ipython-sql) (7.30.1)
Requirement already satisfied: sqlalchemy>=0.6.7 in /home/sanil/.local/lib/python3.8/site-packages (from ipython-sql) (1.4.29)
Requirement already satisfied: sqlparse in /home/sanil/.local/lib/python3.8/site-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: six in /usr/lib/python3/dist-packages (from ipython-sql) (1.14.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in /usr/lib/python3/dist-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.8/dist-packages (from ipython>=1.0->ipython-sql) (60.9.3)
Requirement already satisfied: jedi>=0.16 in /home/sanil/.local/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (0.18.1)
Requirement already satisfied: decorator in /usr/lib/python3/dist-packages (from ipython>=1.0->ipython-sql) (4.4.2)
Requirement already satisfied: pickleshare in /usr/lib/python3/dist-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /home/sanil/.local/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/lib/python3/dist-packages (from ipython>=1.0->ipython-sql) (2.0.10)
Requirement already satisfied: pygments in /usr/lib/python3/dist-packages (from ipython>=1.0->ipython-sql) (2.3.1)
Requirement already satisfied: backcall in /usr/lib/python3/dist-packages (from ipython>=1.0->ipython-sql) (0.1.0)
Requirement already satisfied: matplotlib-inline in /home/sanil/.local/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (0.1.3)
Requirement already satisfied: pexpect>4.3; sys_platform != "win32" in /usr/lib/python3/dist-packages (from ipython>=1.0->ipython-sql) (4.6.0)
Requirement already satisfied: greenlet!=0.4.17; python_version >= "3" and (platform_machine == "aarch64" or (platform_machine == "ppc64le" or (platform_machine == "x86_64" or (platform_machine == "amd64" or (platform_machine == "AMD64" or (platform_machine == "win32" or platform_machine == "WIN32")))))) in /home/sanil/.local/lib/python3.8/site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.1.2)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /home/sanil/.local/lib/python3.8/site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
/usr/local/lib/python3.8/dist-packages/pkg_resources/__init__.py:122: PkgResourcesDeprecationWarning: 0.23ubuntu1 is an invalid version and will not be supported in a future release
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/pkg_resources/__init__.py:122: PkgResourcesDeprecationWarning: 0.1.36ubuntu1 is an invalid version and will not be supported in a future release
  warnings.warn(
Collecting pgspecial
  Downloading pgspecial-1.13.1-py3-none-any.whl (35 kB)
Requirement already satisfied: click>=4.1 in /home/sanil/.local/lib/python3.8/site-packages (from pgspecial) (7.1.2)
Requirement already satisfied: sqlparse>=0.1.19 in /home/sanil/.local/lib/python3.8/site-packages (from pgspecial) (0.4.2)
Collecting psycopg2>=2.7.4
  Using cached psycopg2-2.9.3.tar.gz (380 kB)
Building wheels for collected packages: psycopg2
  Building wheel for psycopg2 (setup.py) ... error
  ERROR: Command errored out with exit status 1:
   command: /usr/bin/python3 -u -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'/tmp/pip-install-yzso1cdg/psycopg2/setup.py'"'"'; __file__='"'"'/tmp/pip-install-yzso1cdg/psycopg2/setup.py'"'"';f=getattr(tokenize, '"'"'open'"'"', open)(__file__);code=f.read().replace('"'"'\r\n'"'"', '"'"'\n'"'"');f.close();exec(compile(code, __file__, '"'"'exec'"'"'))' bdist_wheel -d /tmp/pip-wheel-84k1sahd
       cwd: /tmp/pip-install-yzso1cdg/psycopg2/
  Complete output (38 lines):
  running bdist_wheel
  running build
  running build_py
  creating build
  creating build/lib.linux-x86_64-3.8
  creating build/lib.linux-x86_64-3.8/psycopg2
  copying lib/sql.py -> build/lib.linux-x86_64-3.8/psycopg2
  copying lib/_range.py -> build/lib.linux-x86_64-3.8/psycopg2
  copying lib/errorcodes.py -> build/lib.linux-x86_64-3.8/psycopg2
  copying lib/_ipaddress.py -> build/lib.linux-x86_64-3.8/psycopg2
  copying lib/tz.py -> build/lib.linux-x86_64-3.8/psycopg2
  copying lib/__init__.py -> build/lib.linux-x86_64-3.8/psycopg2
  copying lib/_json.py -> build/lib.linux-x86_64-3.8/psycopg2
  copying lib/extensions.py -> build/lib.linux-x86_64-3.8/psycopg2
  copying lib/pool.py -> build/lib.linux-x86_64-3.8/psycopg2
  copying lib/errors.py -> build/lib.linux-x86_64-3.8/psycopg2
  copying lib/extras.py -> build/lib.linux-x86_64-3.8/psycopg2
  running build_ext
  building 'psycopg2._psycopg' extension
  creating build/temp.linux-x86_64-3.8
  creating build/temp.linux-x86_64-3.8/psycopg
  x86_64-linux-gnu-gcc -pthread -Wno-unused-result -Wsign-compare -DNDEBUG -g -fwrapv -O2 -Wall -g -fstack-protector-strong -Wformat -Werror=format-security -g -fwrapv -O2 -fPIC "-DPSYCOPG_VERSION=2.9.3 (dt dec pq3 ext lo64)" -DPSYCOPG_DEBUG=1 -DPG_VERSION_NUM=120009 -DHAVE_LO64=1 -DPSYCOPG_DEBUG=1 -I/usr/include/python3.8 -I. -I/usr/include/postgresql -I/usr/include/postgresql/12/server -I/usr/include/libxml2 -I/usr/include/mit-krb5 -c psycopg/adapter_asis.c -o build/temp.linux-x86_64-3.8/psycopg/adapter_asis.o -Wdeclaration-after-statement
  In file included from psycopg/adapter_asis.c:28:
  ./psycopg/psycopg.h:36:10: fatal error: libpq-fe.h: No such file or directory
     36 | #include <libpq-fe.h>
        |          ^~~~~~~~~~~~
  compilation terminated.

  It appears you are missing some prerequisite to build the package from source.

  You may install a binary package by installing 'psycopg2-binary' from PyPI.
  If you want to install psycopg2 from source, please install the packages
  required for the build and try again.

  For further information please check the 'doc/src/install.rst' file (also at
  <https://www.psycopg.org/docs/install.html>).

  error: command '/usr/bin/x86_64-linux-gnu-gcc' failed with exit code 1
  ----------------------------------------
  ERROR: Failed building wheel for psycopg2
  Running setup.py clean for psycopg2
Failed to build psycopg2
Installing collected packages: psycopg2, pgspecial
    Running setup.py install for psycopg2 ... error
    ERROR: Command errored out with exit status 1:
     command: /usr/bin/python3 -u -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'/tmp/pip-install-yzso1cdg/psycopg2/setup.py'"'"'; __file__='"'"'/tmp/pip-install-yzso1cdg/psycopg2/setup.py'"'"';f=getattr(tokenize, '"'"'open'"'"', open)(__file__);code=f.read().replace('"'"'\r\n'"'"', '"'"'\n'"'"');f.close();exec(compile(code, __file__, '"'"'exec'"'"'))' install --record /tmp/pip-record-a22fhep5/install-record.txt --single-version-externally-managed --user --prefix= --compile --install-headers /home/sanil/.local/include/python3.8/psycopg2
         cwd: /tmp/pip-install-yzso1cdg/psycopg2/
    Complete output (40 lines):
    running install
    /usr/local/lib/python3.8/dist-packages/setuptools/command/install.py:34: SetuptoolsDeprecationWarning: setup.py install is deprecated. Use build and pip and other standards-based tools.
      warnings.warn(
    running build
    running build_py
    creating build
    creating build/lib.linux-x86_64-3.8
    creating build/lib.linux-x86_64-3.8/psycopg2
    copying lib/sql.py -> build/lib.linux-x86_64-3.8/psycopg2
    copying lib/_range.py -> build/lib.linux-x86_64-3.8/psycopg2
    copying lib/errorcodes.py -> build/lib.linux-x86_64-3.8/psycopg2
    copying lib/_ipaddress.py -> build/lib.linux-x86_64-3.8/psycopg2
    copying lib/tz.py -> build/lib.linux-x86_64-3.8/psycopg2
    copying lib/__init__.py -> build/lib.linux-x86_64-3.8/psycopg2
    copying lib/_json.py -> build/lib.linux-x86_64-3.8/psycopg2
    copying lib/extensions.py -> build/lib.linux-x86_64-3.8/psycopg2
    copying lib/pool.py -> build/lib.linux-x86_64-3.8/psycopg2
    copying lib/errors.py -> build/lib.linux-x86_64-3.8/psycopg2
    copying lib/extras.py -> build/lib.linux-x86_64-3.8/psycopg2
    running build_ext
    building 'psycopg2._psycopg' extension
    creating build/temp.linux-x86_64-3.8
    creating build/temp.linux-x86_64-3.8/psycopg
    x86_64-linux-gnu-gcc -pthread -Wno-unused-result -Wsign-compare -DNDEBUG -g -fwrapv -O2 -Wall -g -fstack-protector-strong -Wformat -Werror=format-security -g -fwrapv -O2 -fPIC "-DPSYCOPG_VERSION=2.9.3 (dt dec pq3 ext lo64)" -DPSYCOPG_DEBUG=1 -DPG_VERSION_NUM=120009 -DHAVE_LO64=1 -DPSYCOPG_DEBUG=1 -I/usr/include/python3.8 -I. -I/usr/include/postgresql -I/usr/include/postgresql/12/server -I/usr/include/libxml2 -I/usr/include/mit-krb5 -c psycopg/adapter_asis.c -o build/temp.linux-x86_64-3.8/psycopg/adapter_asis.o -Wdeclaration-after-statement
    In file included from psycopg/adapter_asis.c:28:
    ./psycopg/psycopg.h:36:10: fatal error: libpq-fe.h: No such file or directory
       36 | #include <libpq-fe.h>
          |          ^~~~~~~~~~~~
    compilation terminated.

    It appears you are missing some prerequisite to build the package from source.

    You may install a binary package by installing 'psycopg2-binary' from PyPI.
    If you want to install psycopg2 from source, please install the packages
    required for the build and try again.

    For further information please check the 'doc/src/install.rst' file (also at
    <https://www.psycopg.org/docs/install.html>).

    error: command '/usr/bin/x86_64-linux-gnu-gcc' failed with exit code 1
    ----------------------------------------
ERROR: Command errored out with exit status 1: /usr/bin/python3 -u -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'/tmp/pip-install-yzso1cdg/psycopg2/setup.py'"'"'; __file__='"'"'/tmp/pip-install-yzso1cdg/psycopg2/setup.py'"'"';f=getattr(tokenize, '"'"'open'"'"', open)(__file__);code=f.read().replace('"'"'\r\n'"'"', '"'"'\n'"'"');f.close();exec(compile(code, __file__, '"'"'exec'"'"'))' install --record /tmp/pip-record-a22fhep5/install-record.txt --single-version-externally-managed --user --prefix= --compile --install-headers /home/sanil/.local/include/python3.8/psycopg2 Check the logs for full command output.

In [26]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [27]:
%sql postgresql://sanil:root@localhost/raspberrypidata

In [30]:
%%sql
EXPLAIN ANALYZE SELECT * FROM posts;

 * postgresql://sanil:***@localhost/raspberrypidata
3 rows affected.

[('Seq Scan on posts  (cost=0.00..85123.15 rows=2289615 width=306) (actual time=0.013..253.510 rows=2292530 loops=1)',),
 ('Planning Time: 0.060 ms',),
 ('Execution Time: 295.099 ms',)]

## Simple Query

In [72]:
%%sql
SELECT
	CASE
		WHEN view_count < 10 THEN 1
		WHEN view_count < 100 THEN 2
		WHEN view_count < 1000 THEN 3
		WHEN view_count < 10000 THEN 4
		WHEN view_count < 100000 THEN 5
		ELSE 6
	END as view_count_category_index,
	CASE
		WHEN view_count < 10 THEN '0-10'
		WHEN view_count < 100 THEN '10-100'
		WHEN view_count < 1000 THEN '100-1000'
		WHEN view_count < 10000 THEN '1000-10000'
		WHEN view_count < 100000 THEN '10000-100000'
		ELSE '100000+'
	END as view_count_category,
	COUNT(*)
FROM
	posts
GROUP BY view_count_category, view_count_category_index
ORDER BY view_count_category_index ASC;

 * postgresql://sanil:***@localhost/raspberrypidata
6 rows affected.

[(1, '0-10', 1742800),
 (2, '10-100', 49770),
 (3, '100-1000', 265791),
 (4, '1000-10000', 189690),
 (5, '10000-100000', 42270),
 (6, '100000+', 2210)]

In [39]:
%%sql
EXPLAIN ANALYZE
SELECT
	CASE
		WHEN view_count < 10 THEN '0-10'
		WHEN view_count < 100 THEN '10-100'
		WHEN view_count < 1000 THEN '100-1000'
		WHEN view_count < 10000 THEN '1000-10000'
		WHEN view_count < 100000 THEN '10000-100000'
		ELSE '100000+'
	END as view_count_category,
	COUNT(*)
FROM
	posts
GROUP BY view_count_category
ORDER BY view_count_category DESC;

 * postgresql://sanil:***@localhost/raspberrypidata
15 rows affected.

[('Finalize GroupAggregate  (cost=89736.71..90636.35 rows=3384 width=40) (actual time=204.286..208.405 rows=6 loops=1)',),
 ("  Group Key: (CASE WHEN (view_count < 10) THEN '0-10'::text WHEN (view_count < 100) THEN '10-100'::text WHEN (view_count < 1000) THEN '100-1000'::text WHEN (view_count < 10000) THEN '1000-10000'::text WHEN (view_count < 100000) THEN '10000-100000'::text ELSE '100000+'::text END)",),
 ('  ->  Gather Merge  (cost=89736.71..90526.37 rows=6768 width=40) (actual time=204.276..208.392 rows=18 loops=1)',),
 ('        Workers Planned: 2',),
 ('        Workers Launched: 2',),
 ('        ->  Sort  (cost=88736.69..88745.15 rows=3384 width=40) (actual time=201.974..201.975 rows=6 loops=3)',),
 ("              Sort Key: (CASE WHEN (view_count < 10) THEN '0-10'::text WHEN (view_count < 100) THEN '10-100'::text WHEN (view_count < 1000) THEN '100-1000'::text WHEN (view_count < 10000) THEN '1000-10000'::text WHEN (view_count < 100000) THEN '10000-100000'::text ELSE '100000+'::text END) DESC",),
 ('              Sort Method: quicksort  Memory: 25kB',),
 ('              Worker 0:  Sort Method: quicksort  Memory: 25kB',),
 ('              Worker 1:  Sort Method: quicksort  Memory: 25kB',),
 ('              ->  Partial HashAggregate  (cost=88462.17..88538.31 rows=3384 width=40) (actual time=201.930..201.944 rows=6 loops=3)',),
 ("                    Group Key: CASE WHEN (view_count < 10) THEN '0-10'::text WHEN (view_count < 100) THEN '10-100'::text WHEN (view_count < 1000) THEN '100-1000'::text WHEN (view_count < 10000) THEN '1000-10000'::text WHEN (view_count < 100000) THEN '10000-100000'::text ELSE '100000+'::text END",),
 ('                    ->  Parallel Seq Scan on posts  (cost=0.00..83692.14 rows=954006 width=32) (actual time=0.027..109.320 rows=764177 loops=3)',),
 ('Planning Time: 0.092 ms',),
 ('Execution Time: 208.459 ms',)]

## Non materialized view

In [36]:
%%sql
DROP VIEW IF EXISTS non_mat_view_count_view;
CREATE VIEW non_mat_view_count_view AS
SELECT
	CASE
		WHEN view_count < 10 THEN '0-10'
		WHEN view_count < 100 THEN '10-100'
		WHEN view_count < 1000 THEN '100-1000'
		WHEN view_count < 10000 THEN '1000-10000'
		WHEN view_count < 100000 THEN '10000-100000'
		ELSE '100000+'
	END as view_count_category,
	COUNT(*)
FROM
	posts
GROUP BY view_count_category
ORDER BY view_count_category DESC;

 * postgresql://sanil:***@localhost/raspberrypidata
Done.
Done.

[]

In [37]:
%%sql
SELECT * FROM non_mat_view_count_view;

 * postgresql://sanil:***@localhost/raspberrypidata
6 rows affected.

[('10-100', 49770),
 ('100-1000', 265790),
 ('1000-10000', 189690),
 ('10000-100000', 42270),
 ('100000+', 2210),
 ('0-10', 1742800)]

In [38]:
%%sql
EXPLAIN ANALYZE SELECT * FROM non_mat_view_count_view

 * postgresql://sanil:***@localhost/raspberrypidata
15 rows affected.

[('Finalize GroupAggregate  (cost=89736.71..90636.35 rows=3384 width=40) (actual time=199.022..202.008 rows=6 loops=1)',),
 ("  Group Key: (CASE WHEN (posts.view_count < 10) THEN '0-10'::text WHEN (posts.view_count < 100) THEN '10-100'::text WHEN (posts.view_count < 1000) TH ... (11 characters truncated) ... 0'::text WHEN (posts.view_count < 10000) THEN '1000-10000'::text WHEN (posts.view_count < 100000) THEN '10000-100000'::text ELSE '100000+'::text END)",),
 ('  ->  Gather Merge  (cost=89736.71..90526.37 rows=6768 width=40) (actual time=199.015..201.999 rows=18 loops=1)',),
 ('        Workers Planned: 2',),
 ('        Workers Launched: 2',),
 ('        ->  Sort  (cost=88736.69..88745.15 rows=3384 width=40) (actual time=194.737..194.739 rows=6 loops=3)',),
 ("              Sort Key: (CASE WHEN (posts.view_count < 10) THEN '0-10'::text WHEN (posts.view_count < 100) THEN '10-100'::text WHEN (posts.view_count ... (27 characters truncated) ... ext WHEN (posts.view_count < 10000) THEN '1000-10000'::text WHEN (posts.view_count < 100000) THEN '10000-100000'::text ELSE '100000+'::text END) DESC",),
 ('              Sort Method: quicksort  Memory: 25kB',),
 ('              Worker 0:  Sort Method: quicksort  Memory: 25kB',),
 ('              Worker 1:  Sort Method: quicksort  Memory: 25kB',),
 ('              ->  Partial HashAggregate  (cost=88462.17..88538.31 rows=3384 width=40) (actual time=194.694..194.705 rows=6 loops=3)',),
 ("                    Group Key: CASE WHEN (posts.view_count < 10) THEN '0-10'::text WHEN (posts.view_count < 100) THEN '10-100'::text WHEN (posts.view ... (27 characters truncated) ... 00'::text WHEN (posts.view_count < 10000) THEN '1000-10000'::text WHEN (posts.view_count < 100000) THEN '10000-100000'::text ELSE '100000+'::text END",),
 ('                    ->  Parallel Seq Scan on posts  (cost=0.00..83692.14 rows=954006 width=32) (actual time=0.034..106.044 rows=764177 loops=3)',),
 ('Planning Time: 0.183 ms',),
 ('Execution Time: 202.117 ms',)]

## Materialized view

In [41]:
%%sql
DROP VIEW IF EXISTS mat_view_count_view;
CREATE MATERIALIZED VIEW mat_view_count_view AS
SELECT
	CASE
		WHEN view_count < 10 THEN '0-10'
		WHEN view_count < 100 THEN '10-100'
		WHEN view_count < 1000 THEN '100-1000'
		WHEN view_count < 10000 THEN '1000-10000'
		WHEN view_count < 100000 THEN '10000-100000'
		ELSE '100000+'
	END as view_count_category,
	COUNT(*)
FROM
	posts
GROUP BY view_count_category
ORDER BY view_count_category DESC;

 * postgresql://sanil:***@localhost/raspberrypidata
Done.
6 rows affected.

[]

In [42]:
%%sql
SELECT * FROM mat_view_count_view;

 * postgresql://sanil:***@localhost/raspberrypidata
6 rows affected.

[('10-100', 49770),
 ('100-1000', 265790),
 ('1000-10000', 189690),
 ('10000-100000', 42270),
 ('100000+', 2210),
 ('0-10', 1742800)]

In [43]:
%%sql
EXPLAIN ANALYZE SELECT * FROM mat_view_count_view;

 * postgresql://sanil:***@localhost/raspberrypidata
3 rows affected.

[('Seq Scan on mat_view_count_view  (cost=0.00..22.00 rows=1200 width=40) (actual time=0.013..0.016 rows=6 loops=1)',),
 ('Planning Time: 0.062 ms',),
 ('Execution Time: 0.038 ms',)]

### What happens if we add data to the table?

In [45]:
%%sql
SELECT * FROM posts LIMIT 1;

 * postgresql://sanil:***@localhost/raspberrypidata
1 rows affected.

[(1021874, 2, 0, '2010-09-02T22:40:58.333', 1, 0, 'No body', 'No Owner', 0, None, '2010-09-02T22:40:58.333', None, None, None, 2, None, 'CC BY-SA 2.5', 38, None, 570.0, None, None)]

In [46]:
%%sql
INSERT INTO posts (view_count) VALUES(101);

 * postgresql://sanil:***@localhost/raspberrypidata
1 rows affected.

[]

In [48]:
%%sql
SELECT * FROM mat_view_count_view;

 * postgresql://sanil:***@localhost/raspberrypidata
6 rows affected.

[('10-100', 49770),
 ('100-1000', 265790),
 ('1000-10000', 189690),
 ('10000-100000', 42270),
 ('100000+', 2210),
 ('0-10', 1742800)]

The view has not actually updated

In [49]:
%%sql
SELECT * FROM non_mat_view_count_view;

 * postgresql://sanil:***@localhost/raspberrypidata
6 rows affected.

[('10-100', 49770),
 ('100-1000', 265791),
 ('1000-10000', 189690),
 ('10000-100000', 42270),
 ('100000+', 2210),
 ('0-10', 1742800)]

The non materialized view gets updated since it is just re running the query

In [52]:
%%sql
REFRESH MATERIALIZED VIEW mat_view_count_view;

 * postgresql://sanil:***@localhost/raspberrypidata
Done.

[]

In [54]:
%%sql
SELECT * FROM mat_view_count_view;

 * postgresql://sanil:***@localhost/raspberrypidata
6 rows affected.

[('10-100', 49770),
 ('100-1000', 265791),
 ('1000-10000', 189690),
 ('10000-100000', 42270),
 ('100000+', 2210),
 ('0-10', 1742800)]