# Views for performance

In [25]:
!pip install ipython-sql
!pip install pgspecial

Requirement already satisfied: ipython-sql in /home/sanil/.local/lib/python3.8/site-packages (0.4.0)
Requirement already satisfied: prettytable<1 in /home/sanil/.local/lib/python3.8/site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: ipython>=1.0 in /home/sanil/.local/lib/python3.8/site-packages (from ipython-sql) (7.30.1)
Requirement already satisfied: sqlalchemy>=0.6.7 in /home/sanil/.local/lib/python3.8/site-packages (from ipython-sql) (1.4.29)
Requirement already satisfied: sqlparse in /home/sanil/.local/lib/python3.8/site-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: six in /usr/lib/python3/dist-packages (from ipython-sql) (1.14.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in /usr/lib/python3/dist-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.8/dist-packages (from ipython>=1.0->ipython-sql) (60.9.3)
Requirement already satisfied: jedi>=0.16 in /home/sanil/.local/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (0.18.1)
Requirement already satisfied: decorator in /usr/lib/python3/dist-packages (from ipython>=1.0->ipython-sql) (4.4.2)
Requirement already satisfied: pickleshare in /usr/lib/python3/dist-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /home/sanil/.local/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/lib/python3/dist-packages (from ipython>=1.0->ipython-sql) (2.0.10)
Requirement already satisfied: pygments in /usr/lib/python3/dist-packages (from ipython>=1.0->ipython-sql) (2.3.1)
Requirement already satisfied: backcall in /usr/lib/python3/dist-packages (from ipython>=1.0->ipython-sql) (0.1.0)
Requirement already satisfied: matplotlib-inline in /home/sanil/.local/lib/python3.8/site-packages (from ipython>=1.0->ipython-sql) (0.1.3)
Requirement already satisfied: pexpect>4.3; sys_platform != "win32" in /usr/lib/python3/dist-packages (from ipython>=1.0->ipython-sql) (4.6.0)
Requirement already satisfied: greenlet!=0.4.17; python_version >= "3" and (platform_machine == "aarch64" or (platform_machine == "ppc64le" or (platform_machine == "x86_64" or (platform_machine == "amd64" or (platform_machine == "AMD64" or (platform_machine == "win32" or platform_machine == "WIN32")))))) in /home/sanil/.local/lib/python3.8/site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.1.2)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /home/sanil/.local/lib/python3.8/site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
/usr/local/lib/python3.8/dist-packages/pkg_resources/__init__.py:122: PkgResourcesDeprecationWarning: 0.23ubuntu1 is an invalid version and will not be supported in a future release
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/pkg_resources/__init__.py:122: PkgResourcesDeprecationWarning: 0.1.36ubuntu1 is an invalid version and will not be supported in a future release
  warnings.warn(
Collecting pgspecial
  Downloading pgspecial-1.13.1-py3-none-any.whl (35 kB)
Requirement already satisfied: click>=4.1 in /home/sanil/.local/lib/python3.8/site-packages (from pgspecial) (7.1.2)
Requirement already satisfied: sqlparse>=0.1.19 in /home/sanil/.local/lib/python3.8/site-packages (from pgspecial) (0.4.2)
Collecting psycopg2>=2.7.4
  Using cached psycopg2-2.9.3.tar.gz (380 kB)
Building wheels for collected packages: psycopg2
  Building wheel for psycopg2 (setup.py) ... error
  ERROR: Command errored out with exit status 1:
   command: /usr/bin/python3 -u -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'/tmp/pip-install-yzso1cdg/psycopg2/setup.py'"'"'; __file__='"'"'/tmp/pip-install-yzso1cdg/psycopg2/setup.py'"'"';f=getattr(tokenize, '"'"'open'"'"', open)(__file__);code=f.read().replace('"'"'\r\n'"'"', '"'"'\n'"'"');f.close();exec(compile(code, __file__, '"'"'exec'"'"'))' bdist_wheel -d /tmp/pip-wheel-84k1sahd
       cwd: /tmp/pip-install-yzso1cdg/psycopg2/
  Complete output (38 lines):
  running bdist_wheel
  running build
  running build_py
  creating build
  creating build/lib.linux-x86_64-3.8
  creating build/lib.linux-x86_64-3.8/psycopg2
  copying lib/sql.py -> build/lib.linux-x86_64-3.8/psycopg2
  copying lib/_range.py -> build/lib.linux-x86_64-3.8/psycopg2
  copying lib/errorcodes.py -> build/lib.linux-x86_64-3.8/psycopg2
  copying lib/_ipaddress.py -> build/lib.linux-x86_64-3.8/psycopg2
  copying lib/tz.py -> build/lib.linux-x86_64-3.8/psycopg2
  copying lib/__init__.py -> build/lib.linux-x86_64-3.8/psycopg2
  copying lib/_json.py -> build/lib.linux-x86_64-3.8/psycopg2
  copying lib/extensions.py -> build/lib.linux-x86_64-3.8/psycopg2
  copying lib/pool.py -> build/lib.linux-x86_64-3.8/psycopg2
  copying lib/errors.py -> build/lib.linux-x86_64-3.8/psycopg2
  copying lib/extras.py -> build/lib.linux-x86_64-3.8/psycopg2
  running build_ext
  building 'psycopg2._psycopg' extension
  creating build/temp.linux-x86_64-3.8
  creating build/temp.linux-x86_64-3.8/psycopg
  x86_64-linux-gnu-gcc -pthread -Wno-unused-result -Wsign-compare -DNDEBUG -g -fwrapv -O2 -Wall -g -fstack-protector-strong -Wformat -Werror=format-security -g -fwrapv -O2 -fPIC "-DPSYCOPG_VERSION=2.9.3 (dt dec pq3 ext lo64)" -DPSYCOPG_DEBUG=1 -DPG_VERSION_NUM=120009 -DHAVE_LO64=1 -DPSYCOPG_DEBUG=1 -I/usr/include/python3.8 -I. -I/usr/include/postgresql -I/usr/include/postgresql/12/server -I/usr/include/libxml2 -I/usr/include/mit-krb5 -c psycopg/adapter_asis.c -o build/temp.linux-x86_64-3.8/psycopg/adapter_asis.o -Wdeclaration-after-statement
  In file included from psycopg/adapter_asis.c:28:
  ./psycopg/psycopg.h:36:10: fatal error: libpq-fe.h: No such file or directory
     36 | #include <libpq-fe.h>
        |          ^~~~~~~~~~~~
  compilation terminated.

  It appears you are missing some prerequisite to build the package from source.

  You may install a binary package by installing 'psycopg2-binary' from PyPI.
  If you want to install psycopg2 from source, please install the packages
  required for the build and try again.

  For further information please check the 'doc/src/install.rst' file (also at
  <https://www.psycopg.org/docs/install.html>).

  error: command '/usr/bin/x86_64-linux-gnu-gcc' failed with exit code 1
  ----------------------------------------
  ERROR: Failed building wheel for psycopg2
  Running setup.py clean for psycopg2
Failed to build psycopg2
Installing collected packages: psycopg2, pgspecial
    Running setup.py install for psycopg2 ... error
    ERROR: Command errored out with exit status 1:
     command: /usr/bin/python3 -u -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'/tmp/pip-install-yzso1cdg/psycopg2/setup.py'"'"'; __file__='"'"'/tmp/pip-install-yzso1cdg/psycopg2/setup.py'"'"';f=getattr(tokenize, '"'"'open'"'"', open)(__file__);code=f.read().replace('"'"'\r\n'"'"', '"'"'\n'"'"');f.close();exec(compile(code, __file__, '"'"'exec'"'"'))' install --record /tmp/pip-record-a22fhep5/install-record.txt --single-version-externally-managed --user --prefix= --compile --install-headers /home/sanil/.local/include/python3.8/psycopg2
         cwd: /tmp/pip-install-yzso1cdg/psycopg2/
    Complete output (40 lines):
    running install
    /usr/local/lib/python3.8/dist-packages/setuptools/command/install.py:34: SetuptoolsDeprecationWarning: setup.py install is deprecated. Use build and pip and other standards-based tools.
      warnings.warn(
    running build
    running build_py
    creating build
    creating build/lib.linux-x86_64-3.8
    creating build/lib.linux-x86_64-3.8/psycopg2
    copying lib/sql.py -> build/lib.linux-x86_64-3.8/psycopg2
    copying lib/_range.py -> build/lib.linux-x86_64-3.8/psycopg2
    copying lib/errorcodes.py -> build/lib.linux-x86_64-3.8/psycopg2
    copying lib/_ipaddress.py -> build/lib.linux-x86_64-3.8/psycopg2
    copying lib/tz.py -> build/lib.linux-x86_64-3.8/psycopg2
    copying lib/__init__.py -> build/lib.linux-x86_64-3.8/psycopg2
    copying lib/_json.py -> build/lib.linux-x86_64-3.8/psycopg2
    copying lib/extensions.py -> build/lib.linux-x86_64-3.8/psycopg2
    copying lib/pool.py -> build/lib.linux-x86_64-3.8/psycopg2
    copying lib/errors.py -> build/lib.linux-x86_64-3.8/psycopg2
    copying lib/extras.py -> build/lib.linux-x86_64-3.8/psycopg2
    running build_ext
    building 'psycopg2._psycopg' extension
    creating build/temp.linux-x86_64-3.8
    creating build/temp.linux-x86_64-3.8/psycopg
    x86_64-linux-gnu-gcc -pthread -Wno-unused-result -Wsign-compare -DNDEBUG -g -fwrapv -O2 -Wall -g -fstack-protector-strong -Wformat -Werror=format-security -g -fwrapv -O2 -fPIC "-DPSYCOPG_VERSION=2.9.3 (dt dec pq3 ext lo64)" -DPSYCOPG_DEBUG=1 -DPG_VERSION_NUM=120009 -DHAVE_LO64=1 -DPSYCOPG_DEBUG=1 -I/usr/include/python3.8 -I. -I/usr/include/postgresql -I/usr/include/postgresql/12/server -I/usr/include/libxml2 -I/usr/include/mit-krb5 -c psycopg/adapter_asis.c -o build/temp.linux-x86_64-3.8/psycopg/adapter_asis.o -Wdeclaration-after-statement
    In file included from psycopg/adapter_asis.c:28:
    ./psycopg/psycopg.h:36:10: fatal error: libpq-fe.h: No such file or directory
       36 | #include <libpq-fe.h>
          |          ^~~~~~~~~~~~
    compilation terminated.

    It appears you are missing some prerequisite to build the package from source.

    You may install a binary package by installing 'psycopg2-binary' from PyPI.
    If you want to install psycopg2 from source, please install the packages
    required for the build and try again.

    For further information please check the 'doc/src/install.rst' file (also at
    <https://www.psycopg.org/docs/install.html>).

    error: command '/usr/bin/x86_64-linux-gnu-gcc' failed with exit code 1
    ----------------------------------------
ERROR: Command errored out with exit status 1: /usr/bin/python3 -u -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'/tmp/pip-install-yzso1cdg/psycopg2/setup.py'"'"'; __file__='"'"'/tmp/pip-install-yzso1cdg/psycopg2/setup.py'"'"';f=getattr(tokenize, '"'"'open'"'"', open)(__file__);code=f.read().replace('"'"'\r\n'"'"', '"'"'\n'"'"');f.close();exec(compile(code, __file__, '"'"'exec'"'"'))' install --record /tmp/pip-record-a22fhep5/install-record.txt --single-version-externally-managed --user --prefix= --compile --install-headers /home/sanil/.local/include/python3.8/psycopg2 Check the logs for full command output.

In [2]:
%load_ext sql

In [3]:
%sql postgresql://sanil:root@localhost/raspberrypidata

In [4]:
%%sql
EXPLAIN ANALYZE SELECT * FROM posts;

 * postgresql://sanil:***@localhost/raspberrypidata
3 rows affected.

[('Seq Scan on posts  (cost=0.00..85123.15 rows=2289615 width=306) (actual time=0.016..203.719 rows=2292531 loops=1)',),
 ('Planning Time: 0.289 ms',),
 ('Execution Time: 248.374 ms',)]

## Simple Query

In [8]:
%%sql
SELECT
	CASE
		WHEN view_count < 10 THEN 1
		WHEN view_count < 100 THEN 2
		WHEN view_count < 1000 THEN 3
		WHEN view_count < 10000 THEN 4
		WHEN view_count < 100000 THEN 5
		ELSE 6
	END as view_count_category_index,
	CASE
		WHEN view_count < 10 THEN '0-10'
		WHEN view_count < 100 THEN '10-100'
		WHEN view_count < 1000 THEN '100-1000'
		WHEN view_count < 10000 THEN '1000-10000'
		WHEN view_count < 100000 THEN '10000-100000'
		ELSE '100000+'
	END as view_count_category,
	COUNT(*)
FROM
	posts
GROUP BY view_count_category, view_count_category_index
ORDER BY view_count_category_index ASC;

 * postgresql://sanil:***@localhost/raspberrypidata
6 rows affected.

[(1, '0-10', 1742800),
 (2, '10-100', 49770),
 (3, '100-1000', 265791),
 (4, '1000-10000', 189690),
 (5, '10000-100000', 42270),
 (6, '100000+', 2210)]

In [9]:
%%sql
EXPLAIN ANALYZE
SELECT
	CASE
		WHEN view_count < 10 THEN 1
		WHEN view_count < 100 THEN 2
		WHEN view_count < 1000 THEN 3
		WHEN view_count < 10000 THEN 4
		WHEN view_count < 100000 THEN 5
		ELSE 6
	END as view_count_category_index,
	CASE
		WHEN view_count < 10 THEN '0-10'
		WHEN view_count < 100 THEN '10-100'
		WHEN view_count < 1000 THEN '100-1000'
		WHEN view_count < 10000 THEN '1000-10000'
		WHEN view_count < 100000 THEN '10000-100000'
		ELSE '100000+'
	END as view_count_category,
	COUNT(*)
FROM
	posts
GROUP BY view_count_category, view_count_category_index
ORDER BY view_count_category_index ASC;

 * postgresql://sanil:***@localhost/raspberrypidata
19 rows affected.

[('Finalize GroupAggregate  (cost=104089.10..105047.96 rows=3384 width=44) (actual time=239.393..256.033 rows=6 loops=1)',),
 ("  Group Key: (CASE WHEN (view_count < 10) THEN 1 WHEN (view_count < 100) THEN 2 WHEN (view_count < 1000) THEN 3 WHEN (view_count < 10000) THEN 4 WHEN ... (160 characters truncated) ... HEN '100-1000'::text WHEN (view_count < 10000) THEN '1000-10000'::text WHEN (view_count < 100000) THEN '10000-100000'::text ELSE '100000+'::text END)",),
 ('  ->  Gather Merge  (cost=104089.10..104878.76 rows=6768 width=44) (actual time=239.386..256.023 rows=18 loops=1)',),
 ('        Workers Planned: 2',),
 ('        Workers Launched: 2',),
 ('        ->  Sort  (cost=103089.08..103097.54 rows=3384 width=44) (actual time=228.955..228.956 rows=6 loops=3)',),
 ("              Sort Key: (CASE WHEN (view_count < 10) THEN 1 WHEN (view_count < 100) THEN 2 WHEN (view_count < 1000) THEN 3 WHEN (view_count < 10000)  ... (171 characters truncated) ... HEN '100-1000'::text WHEN (view_count < 10000) THEN '1000-10000'::text WHEN (view_count < 100000) THEN '10000-100000'::text ELSE '100000+'::text END)",),
 ('              Sort Method: quicksort  Memory: 25kB',),
 ('              Worker 0:  Sort Method: quicksort  Memory: 25kB',),
 ('              Worker 1:  Sort Method: quicksort  Memory: 25kB',),
 ('              ->  Partial HashAggregate  (cost=102772.26..102890.70 rows=3384 width=44) (actual time=228.915..228.925 rows=6 loops=3)',),
 ("                    Group Key: CASE WHEN (view_count < 10) THEN 1 WHEN (view_count < 100) THEN 2 WHEN (view_count < 1000) THEN 3 WHEN (view_count < 1 ... (174 characters truncated) ... THEN '100-1000'::text WHEN (view_count < 10000) THEN '1000-10000'::text WHEN (view_count < 100000) THEN '10000-100000'::text ELSE '100000+'::text END",),
 ('                    ->  Parallel Seq Scan on posts  (cost=0.00..95617.21 rows=954006 width=36) (actual time=5.936..130.763 rows=764177 loops=3)',),
 ('Planning Time: 0.078 ms',),
 ('JIT:',),
 ('  Functions: 24',),
 ('  Options: Inlining false, Optimization false, Expressions true, Deforming true',),
 ('  Timing: Generation 3.953 ms, Inlining 0.000 ms, Optimization 1.759 ms, Emission 15.485 ms, Total 21.197 ms',),
 ('Execution Time: 257.556 ms',)]

## Non materialized view

In [10]:
%%sql
DROP VIEW IF EXISTS non_mat_view_count_view;
CREATE VIEW non_mat_view_count_view AS
SELECT
	CASE
		WHEN view_count < 10 THEN 1
		WHEN view_count < 100 THEN 2
		WHEN view_count < 1000 THEN 3
		WHEN view_count < 10000 THEN 4
		WHEN view_count < 100000 THEN 5
		ELSE 6
	END as view_count_category_index,
	CASE
		WHEN view_count < 10 THEN '0-10'
		WHEN view_count < 100 THEN '10-100'
		WHEN view_count < 1000 THEN '100-1000'
		WHEN view_count < 10000 THEN '1000-10000'
		WHEN view_count < 100000 THEN '10000-100000'
		ELSE '100000+'
	END as view_count_category,
	COUNT(*)
FROM
	posts
GROUP BY view_count_category, view_count_category_index
ORDER BY view_count_category_index ASC;

 * postgresql://sanil:***@localhost/raspberrypidata
Done.
Done.

[]

In [37]:
%%sql
SELECT * FROM non_mat_view_count_view;

 * postgresql://sanil:***@localhost/raspberrypidata
6 rows affected.

[('10-100', 49770),
 ('100-1000', 265790),
 ('1000-10000', 189690),
 ('10000-100000', 42270),
 ('100000+', 2210),
 ('0-10', 1742800)]

In [11]:
%%sql
EXPLAIN ANALYZE SELECT * FROM non_mat_view_count_view

 * postgresql://sanil:***@localhost/raspberrypidata
19 rows affected.

[('Finalize GroupAggregate  (cost=104089.10..105047.96 rows=3384 width=44) (actual time=254.020..264.054 rows=6 loops=1)',),
 ("  Group Key: (CASE WHEN (posts.view_count < 10) THEN 1 WHEN (posts.view_count < 100) THEN 2 WHEN (posts.view_count < 1000) THEN 3 WHEN (posts.view_co ... (220 characters truncated) ... 0'::text WHEN (posts.view_count < 10000) THEN '1000-10000'::text WHEN (posts.view_count < 100000) THEN '10000-100000'::text ELSE '100000+'::text END)",),
 ('  ->  Gather Merge  (cost=104089.10..104878.76 rows=6768 width=44) (actual time=254.012..264.043 rows=18 loops=1)',),
 ('        Workers Planned: 2',),
 ('        Workers Launched: 2',),
 ('        ->  Sort  (cost=103089.08..103097.54 rows=3384 width=44) (actual time=231.908..231.910 rows=6 loops=3)',),
 ("              Sort Key: (CASE WHEN (posts.view_count < 10) THEN 1 WHEN (posts.view_count < 100) THEN 2 WHEN (posts.view_count < 1000) THEN 3 WHEN (po ... (231 characters truncated) ... 0'::text WHEN (posts.view_count < 10000) THEN '1000-10000'::text WHEN (posts.view_count < 100000) THEN '10000-100000'::text ELSE '100000+'::text END)",),
 ('              Sort Method: quicksort  Memory: 25kB',),
 ('              Worker 0:  Sort Method: quicksort  Memory: 25kB',),
 ('              Worker 1:  Sort Method: quicksort  Memory: 25kB',),
 ('              ->  Partial HashAggregate  (cost=102772.26..102890.70 rows=3384 width=44) (actual time=231.875..231.886 rows=6 loops=3)',),
 ("                    Group Key: CASE WHEN (posts.view_count < 10) THEN 1 WHEN (posts.view_count < 100) THEN 2 WHEN (posts.view_count < 1000) THEN 3 WH ... (234 characters truncated) ... 00'::text WHEN (posts.view_count < 10000) THEN '1000-10000'::text WHEN (posts.view_count < 100000) THEN '10000-100000'::text ELSE '100000+'::text END",),
 ('                    ->  Parallel Seq Scan on posts  (cost=0.00..95617.21 rows=954006 width=36) (actual time=5.773..131.768 rows=764177 loops=3)',),
 ('Planning Time: 0.117 ms',),
 ('JIT:',),
 ('  Functions: 24',),
 ('  Options: Inlining false, Optimization false, Expressions true, Deforming true',),
 ('  Timing: Generation 2.815 ms, Inlining 0.000 ms, Optimization 1.291 ms, Emission 15.587 ms, Total 19.693 ms',),
 ('Execution Time: 265.152 ms',)]

## Materialized view

In [13]:
%%sql
DROP MATERIALIZED VIEW IF EXISTS mat_view_count_view;
CREATE MATERIALIZED VIEW mat_view_count_view AS
SELECT
	CASE
		WHEN view_count < 10 THEN 1
		WHEN view_count < 100 THEN 2
		WHEN view_count < 1000 THEN 3
		WHEN view_count < 10000 THEN 4
		WHEN view_count < 100000 THEN 5
		ELSE 6
	END as view_count_category_index,
	CASE
		WHEN view_count < 10 THEN '0-10'
		WHEN view_count < 100 THEN '10-100'
		WHEN view_count < 1000 THEN '100-1000'
		WHEN view_count < 10000 THEN '1000-10000'
		WHEN view_count < 100000 THEN '10000-100000'
		ELSE '100000+'
	END as view_count_category,
	COUNT(*)
FROM
	posts
GROUP BY view_count_category, view_count_category_index
ORDER BY view_count_category_index ASC;

 * postgresql://sanil:***@localhost/raspberrypidata
Done.
6 rows affected.

[]

In [14]:
%%sql
SELECT * FROM mat_view_count_view;

 * postgresql://sanil:***@localhost/raspberrypidata
6 rows affected.

[(1, '0-10', 1742800),
 (2, '10-100', 49770),
 (3, '100-1000', 265791),
 (4, '1000-10000', 189690),
 (5, '10000-100000', 42270),
 (6, '100000+', 2210)]

In [15]:
%%sql
EXPLAIN ANALYZE SELECT * FROM mat_view_count_view;

 * postgresql://sanil:***@localhost/raspberrypidata
3 rows affected.

[('Seq Scan on mat_view_count_view  (cost=0.00..21.30 rows=1130 width=44) (actual time=0.010..0.012 rows=6 loops=1)',),
 ('Planning Time: 0.047 ms',),
 ('Execution Time: 0.027 ms',)]

### What happens if we add data to the table?

In [45]:
%%sql
SELECT * FROM posts LIMIT 1;

 * postgresql://sanil:***@localhost/raspberrypidata
1 rows affected.

[(1021874, 2, 0, '2010-09-02T22:40:58.333', 1, 0, 'No body', 'No Owner', 0, None, '2010-09-02T22:40:58.333', None, None, None, 2, None, 'CC BY-SA 2.5', 38, None, 570.0, None, None)]

In [46]:
%%sql
INSERT INTO posts (view_count) VALUES(101);

 * postgresql://sanil:***@localhost/raspberrypidata
1 rows affected.

[]

In [48]:
%%sql
SELECT * FROM mat_view_count_view;

 * postgresql://sanil:***@localhost/raspberrypidata
6 rows affected.

[('10-100', 49770),
 ('100-1000', 265790),
 ('1000-10000', 189690),
 ('10000-100000', 42270),
 ('100000+', 2210),
 ('0-10', 1742800)]

The view has not actually updated

In [49]:
%%sql
SELECT * FROM non_mat_view_count_view;

 * postgresql://sanil:***@localhost/raspberrypidata
6 rows affected.

[('10-100', 49770),
 ('100-1000', 265791),
 ('1000-10000', 189690),
 ('10000-100000', 42270),
 ('100000+', 2210),
 ('0-10', 1742800)]

The non materialized view gets updated since it is just re running the query

In [52]:
%%sql
REFRESH MATERIALIZED VIEW mat_view_count_view;

 * postgresql://sanil:***@localhost/raspberrypidata
Done.

[]

In [54]:
%%sql
SELECT * FROM mat_view_count_view;

 * postgresql://sanil:***@localhost/raspberrypidata
6 rows affected.

[('10-100', 49770),
 ('100-1000', 265791),
 ('1000-10000', 189690),
 ('10000-100000', 42270),
 ('100000+', 2210),
 ('0-10', 1742800)]